@import "../../../style/setup/variables";
@import "../../../style/setup/functions";

.app-header {
    padding: 10px 28px;
    background-color: transparent;
    .main-nav {
        .logo-container {
            flex-grow: 1;
            flex-basis: 0;
            .logo {
                img {
                    width: 30px;
                    height: 30px;
                }
                h1 {
                    height: 10px;
                    line-height: 5px;
                }
                :first-child {
                    margin-inline-end: 10px;
                }
            }
        }
        nav {
            button {
                &.nav-btn {
                    padding: 0px 0px;
                    width: 44px;
                    height: 44px;
                    border-radius: 6px;
                    border: none;
                    background-color: $clr2;
                    font-size: rem(20px);
                    transition: 0.3s;
                    fa-icon {
                        font-size: rem(20px);
                    }
                    &:hover {
                        background-image: unset;
                        transform: scale(1.1);
                        background-color: $clr6;
                    }
                }
            }
            :not(:last-child) {
                margin-inline-end: 10px;
            }
            a.active {
                box-shadow: 0 9px 5px -6px rgba(0, 191, 255, 1);
            }
        }
        .login-btns {
            flex-grow: 1;
            flex-basis: 0;
            button {
                padding-inline: 30px;
            }
        }
    }
    .toggle-btn-container {
        display: none;
    }
}

/* MOBILE ONLY */
@media (max-width: 650px) {
    .screen {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgb(0 0 0 / 80%);
        z-index: 1;
        opacity: 0;
        transition: opacity 0.7s;
        cursor: pointer;
        pointer-events: none;
    }
    header.menu-open .screen {
        opacity: 1;
        pointer-events: auto;
    }
    .main-nav {
        position: fixed;
        top: 0;
        right: 0;
        flex-direction: column;
        z-index: 1;
        min-width: 230px;
        background-color: rgb(73 75 190 / 90%);
        height: 100vh;
        box-shadow: 0px 0px 0px 0px transparent;
        justify-content: flex-start;
        transform: translateX(100%);
        transition: transform 0.6s;
        .logo-container {
            display: block;
            flex-grow: inherit !important;
            padding: 10px;
            margin-block-end: 20px;
            background-color: $clr3;
        }
        nav {
            flex-direction: column;
            a {
                display: block;
                margin-inline-end: 0 !important;
                margin-block-end: 10px;
                button {
                    padding-inline: 20px !important;
                    width: 190px !important;
                    text-align: start;
                    &.wallet::after {
                        content: "\2001 Wallet";
                    }
                    &.contacts::after {
                        content: "\2001 Contacts";
                    }
                    &.statistics::after {
                        content: "\2001 Statistics";
                    }
                }
            }
        }
        .login-btns {
            flex-grow: inherit !important;
            flex-basis: 0;
            justify-content: center;
            margin-block-start: 20px;
            button {
                width: 190px;
            }
        }
    }

    div.toggle-btn-container {
        display: flex !important;
        .logo-container {
            .logo {
                img {
                    width: 20px;
                    height: 20px;
                }
                h1 {
                    font-size: rem(18px);
                    margin-block-end: 3px;
                    line-height: 14px;
                }
                :first-child {
                    margin-inline-end: 10px;
                }
            }
        }

        .nav-icon {
            width: 32px;
            height: 22px;
            position: relative;
            padding: 8px;
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            transform: rotate(0deg);
            -webkit-transition: 0.5s ease-in-out;
            -moz-transition: 0.5s ease-in-out;
            -o-transition: 0.5s ease-in-out;
            transition: 0.5s ease-in-out;
            cursor: pointer;
            z-index: 1;

            span {
                display: block;
                position: absolute;
                height: 2px;
                width: 100%;
                background: $clr6;
                border-radius: 9px;
                opacity: 1;
                left: 0;
                -webkit-transform: rotate(0deg);
                -moz-transform: rotate(0deg);
                -o-transform: rotate(0deg);
                transform: rotate(0deg);
                -webkit-transition: 0.25s ease-in-out;
                -moz-transition: 0.25s ease-in-out;
                -o-transition: 0.25s ease-in-out;
                transition: 0.25s ease-in-out;
            }

            span:nth-child(1) {
                top: 0px;
            }
            span:nth-child(2),
            span:nth-child(3) {
                top: 10px;
            }
            span:nth-child(4) {
                top: 20px;
            }
            &.open span:nth-child(1) {
                top: 10px;
                width: 0%;
                left: 50%;
            }
            &.open span:nth-child(2) {
                -webkit-transform: rotate(45deg);
                -moz-transform: rotate(45deg);
                -o-transform: rotate(45deg);
                transform: rotate(45deg);
            }
            &.open span:nth-child(3) {
                -webkit-transform: rotate(-45deg);
                -moz-transform: rotate(-45deg);
                -o-transform: rotate(-45deg);
                transform: rotate(-45deg);
            }
            &.open span:nth-child(4) {
                top: 10px;
                width: 0%;
                left: 50%;
            }
        }
    }

    header.menu-open .main-nav {
        transform: translateX(0);
        box-shadow: -12px 0px 20px 4px rgb(0 0 0 / 20%);
    }
}
