<header #header class="app-header">
    <div class="screen" (click)="header.classList.toggle('menu-open'); navIcon.classList.toggle('open')"></div>

    <div class=" main-nav main-layout flex space-between">
        <a routerLink="" class="logo-container flex align-center">
            <div class="logo flex align-center justify-center">
                <!-- <img src="../../../assets/logo.png" alt="logo"> -->
                <img src="./assets/logo.png" alt="logo">
                <h1>Mr.Bitcoin</h1>
            </div>
        </a>

        <nav class="flex align-center">
            <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
                (click)="header.classList.toggle('menu-open');navIcon.classList.toggle('open')">
                <button class="wallet nav-btn">
                    <fa-icon [icon]="faWallet"></fa-icon>
                </button>
            </a>
            <!-- <p>|</p> -->

            <a routerLink="contact" routerLinkActive="active"
                (click)="header.classList.toggle('menu-open');navIcon.classList.toggle('open')">
                <button class="contacts nav-btn">
                    <fa-icon [icon]="faAddressCard"></fa-icon>
                </button>
            </a>
            <!-- <p>|</p> -->

            <a routerLink="statistics" routerLinkActive="active"
                (click)="header.classList.toggle('menu-open');navIcon.classList.toggle('open')">
                <button class="statistics nav-btn">
                    <fa-icon [icon]="faChartArea"></fa-icon>
                </button>
            </a>
        </nav>

        <div class="login-btns flex align-center justify-end">
            <button (click)="onLogout(); header.classList.toggle('menu-open');navIcon.classList.toggle('open')"
                *ngIf="loggedInUser$ | async ; else loginBtn">Logout</button>

            <ng-template #loginBtn>
                <a routerLink="auth/login"
                    (click)="header.classList.toggle('menu-open');navIcon.classList.toggle('open')">
                    <button>Login</button>
                </a>
            </ng-template>
        </div>
    </div>
    <div class="toggle-btn-container flex space-between align-center">
        <!-- <button class="btn-menu-toggle" (click)="header.classList.toggle('menu-open')">
            <fa-icon [icon]="faBars"></fa-icon>
        </button> -->

        <div #navIcon class="nav-icon" (click)="navIcon.classList.toggle('open');header.classList.toggle('menu-open')">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>

        <a routerLink="" class="logo-container flex">
            <div class="logo flex align-center justify-center">
                <!-- <img src="../../../assets/logo.png" alt="logo"> -->
                <img src="./assets/logo.png" alt="logo">
                <h1>Mr.Bitcoin</h1>
            </div>
        </a>
    </div>
</header>