@import "../../../style/setup/variables";
@import "../../../style/setup/functions";
:host {
    width: 1110px;
    margin: auto;
}
.contact-page {
    position: relative;
    background-color: transparent;
    height: 75vh;
    padding: 20px 15px;

    h1 {
        margin-bottom: 20px;
    }

    .btn-add-contact {
        background-color: $clr6;
        font-size: 20px;
        padding: 17px 21px 16px 21px;
        border-radius: 50%;
        border: none;
        position: absolute;
        right: 18%;
        bottom: 10%;
    }
}
