// Colors
$clr1: #ffffff; //White
$clr2: #20262a; //Main container bgc
$clr3: #131518; //Cmps bgc
$clr4: #0c0e0f; //App bgc (transparent header)
$clr5: #f7bf35; //Titles
$clr6: #5d2cee; //

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;
