<section class="statistics-page flex column align-center">
    <h1>Market statistics</h1>
    <div class="hr"></div>

    <div class="stats-scroll-container flex column align-center">
        <div class="market-price flex column align-center">
            <h1>Average USD Bitcoin Market Price</h1>
            <market-price-chart></market-price-chart>
        </div>

        <div class="trade-volume flex column align-center">
            <h1>Exchange Trade Volume (USD)</h1>
            <confirmed-transactions-chart></confirmed-transactions-chart>
        </div>
    </div>

</section>