<section class="contact-details flex column align-center">
    <nav class="details-nav flex">
        <span (click)="onBack()" class="card-btn">
            <fa-icon [icon]="faTimes"></fa-icon>
        </span>
    </nav>

    <div class="details-scroll-container flex column align-center">
        <div class="avatar-container">
            <img src="https://robohash.org/{{contact._id}}?set=set5" alt="">
        </div>

        <div class="details-container">
            <p>{{contact.name}}</p>
            <p>{{contact.email}}</p>
            <p>{{contact.phone}}</p>
        </div>

        <div class="hr"></div>

        <transfer-fund [contact]='contact'></transfer-fund>

        <div class="hr"></div>

        <transactions-list [contact]='contact' [filterByContact]="true" [listHeader]="listHeader">
        </transactions-list>
    </div>

</section>