<section class="transfer-fund flex">
    <form (ngSubmit)="onTransferCoins(form)" class="flex column" #form="ngForm">
        <div class="balance-container flex column">
            <div class="balance-header flex space-between">
                <p>I have: {{user.balance}} Bitcoin</p>
                <p>Transfer to {{contact.name}}:</p>
            </div>

            <!-- <div class="flex justify-end">
                <p class="errors" *ngIf="amount.errors?.max? amount.invalid&&amount.dirty: false">You only have
                    {{amount.errors.max.max}} coins
                </p>
            </div> -->

            <div class="input-container flex space-between">
                <div class="bitcoin-container flex align-center">
                    <img src="./assets/icons/bitcoin-logo.svg" alt="bitcoinLogo">

                    <h1>BTC</h1>
                </div>

                <div class="flex column align-end">
                    <!-- <input [(ngModel)]="amount" type="number" name="amount" placeholder="0.00"> -->
                    <!-- <p class="errors" *ngIf="amount&&(amount.invalid&&amount.touched)">You only have
                        {{amount.errors.max.max}}coins</p> -->
                    <!-- <pre>{{amount|json}}</pre> -->

                    <input ngModel type="number" name="amount" placeholder="0.00" required max="{{user.balance}}"
                        #amount="ngModel" autofocus>
                    <!-- <input type="number" formControlName="amount" name="amount" placeholder="0.00"> -->
                    <!-- <p>≈$0.000876</p> -->
                    <p *ngIf="form.value.amount;else amountPlaceHolder">≈${{form.value.amount|btcToUsd|number:'1.0-2'}}
                    </p>
                    <ng-template #amountPlaceHolder>
                        <p>≈$0.00</p>
                    </ng-template>
                </div>
            </div>

            <div class="flex justify-end">
                <p class="errors" *ngIf="amount.errors?.max? amount.invalid&&amount.dirty: false">You only have
                    {{amount.errors.max.max}} coins
                </p>
            </div>

            <div class="exchange-container">
                <span>
                    <fa-icon [icon]="faExchangeAlt"></fa-icon>
                </span>
            </div>
        </div>


        <!-- <div class="remainder-container"> -->
        <div class="remainder-container flex column align-end">
            <p>Balance after transfer:</p>
            <h1 *ngIf="form.value.amount;else balancePlaceholder">{{getBalance(form)}}</h1>
            <ng-template #balancePlaceholder>
                <h1>{{user.balance}}</h1>
            </ng-template>
            <p *ngIf="form.value.amount;else balanceUsdPlaceholder">≈${{getBalance(form)|btcToUsd|number:'1.0-2'}}
            </p>
            <ng-template #balanceUsdPlaceholder>
                <p>≈$0.00</p>
            </ng-template>
        </div>
        <!-- </div> -->

        <button [disabled]="form.invalid">TRANSFER AMOUNT</button>
    </form>
</section>