@import "../../../style/setup/variables";
@import "../../../style/setup/functions";

:host {
    width: 100%;
}

.contact-filter {
    background-color: transparent;
    padding: 15px;
    font-size: rem(16px);
    color: darken($clr1, 30%);
    input {
        padding-inline-start: 20px;
        &::placeholder {
            color: darken($clr1, 30%);
        }
    }
    fa-icon {
        padding-inline-end: 20px;
    }
}
