@import "../../../style/setup/variables";
@import "../../../style/setup/functions";

:host {
    .window-overlay {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: #000;
        opacity: 0.75;
        transition: all ease 3s;
    }
}

.contact-edit {
    width: 350px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: lighten($clr3, 5%);
    padding: 30px;
    border: 1px solid lighten($clr3, 30%);
    border-radius: 5px;
    z-index: 5;
    .edit-nav {
        width: 100%;
        margin-bottom: 20px;
    }
    h1 {
        margin-block-end: 10px;
    }
    .hr {
        margin-block-end: 30px;
    }
    button {
        margin-top: 30px;
    }
    form {
        width: 100%;
        :not(:last-child) {
            margin-bottom: 10px;
        }
        input {
            background-color: $clr4;
            border-radius: 5px;
            padding: 15px;
            width: 100%;
        }
    }
}
