<div (click)="onBack()" class="window-overlay"></div>

<section *ngIf="contact" class="contact-edit">

    <div class="flex column align-center">
        <nav class="edit-nav flex space-between">
            <span (click)="onBack()" class="card-btn">
                <fa-icon [icon]=" faTimes"></fa-icon>
            </span>

            <span *ngIf="contact._id" (click)="onRemoveContact()" class="card-btn">
                <fa-icon [icon]="faTrashAlt"></fa-icon>
            </span>
        </nav>

        <h1 *ngIf="contact._id; else newContactHeader">Edit Contact Details</h1>
        <ng-template #newContactHeader>
            <h1>Add a new contact</h1>
        </ng-template>
        <div class="hr"></div>

        <form (ngSubmit)='onSaveContact()' [formGroup]='form' class="flex column">
            <input type="text" id="name" formControlName="name" placeholder="Name" required>

            <input type="text" id="email" formControlName="email" placeholder="Email here" required>

            <input type="text" id="phone" formControlName="phone" placeholder="Phone" required>

            <button [disabled]='form.invalid'>Save</button>
        </form>
    </div>
</section>