@import "../../../style/setup/variables";
@import "../../../style/setup/functions";

:host {
    width: 600px;
    margin: auto;
}

.signup-page {
    position: relative;
    background-color: transparent;
    height: 75vh;
    padding: 20px 20px;
    span {
        color: $clr5;
        cursor: pointer;
    }
    h1 {
        margin-block-end: 10px;
    }
    .hr {
        margin-block: 10px;
    }

    form {
        width: 100%;
        padding: 20px 90px;
        :not(:last-child) {
            margin-bottom: 10px;
        }

        input {
            background-color: rgba($clr2, 0.35);
            border-radius: 5px;
            padding: 15px;
            width: 100%;
        }
        button {
            margin-block-start: 20px;
        }
    }
    .signup-container {
        .guest-container {
            padding: 20px 0px;
            width: 100%;
            p {
                margin-block-end: 10px;
            }
            button {
                background-color: $clr6;
                font-size: rem(18px);
                border-width: 2px;
            }
        }
    }
}

/* MOBILE ONLY */
@media (max-width: 650px) {
    .signup-page {
        form {
            width: 100%;
            padding: 20px 10px;
        }
    }
}
