@import "../../../style/setup/variables";
@import "../../../style/setup/functions";

.contact-preview {
    text-align: start;
    padding: 10px;
    border-radius: 5px;
    background-color: rgba($clr3, 0.45);
    margin-block-end: 4px;
    &:hover {
        background-color: rgba($clr3, 0.65);
    }
    img {
        border-radius: 50%;
        border: 1px solid $clr1;
    }
    .avatar {
        height: 50px;
        width: 50px;
        margin-inline: 15px;
    }
    .contact-preview-details {
        h1 {
            font-size: rem(18px);
            color: darken($clr1, 10%);
            padding-block-end: 5px;
        }
        p {
            font-size: rem(14px);
            color: darken($clr1, 40%);
        }
    }
}
