<section class="contact-preview flex align-center space-between">
    <div class="flex align-center">
        <div class="avatar">
            <img src="https://robohash.org/{{contact._id}}?set=set5" alt="">
        </div>

        <div class="contact-preview-details">
            <h1>{{contact.name}}</h1>
            <!-- <div class="hr"></div> -->
            <p>{{contact.phone}}</p>
        </div>
    </div>

    <a (click)="$event.stopPropagation()" [routerLink]="['edit', contact._id]">
        <span class="card-btn">
            <fa-icon [icon]="faEdit"></fa-icon>
        </span>
    </a>
</section>