button {
    border: unset;
    background: unset;
    padding: 10px 50px;
    outline: none;
    border: 1px solid $clr5;
    color: $clr1;
    border-radius: 3rem;
    cursor: pointer;
    transition: background-image 1s ease-in-out;
}

button:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4) 0 0);
}

button:active {
    color: white;
    border-color: white;
}

.card-btn {
    cursor: pointer;
    transition: 0.3s;
    padding: 5px 10px;
    border-radius: 10px;
    &:hover {
        transform: scale(1.2);
        background-color: $clr6;
    }
}
