@import "../setup/variables";
@import "..//setup/functions";

input,
select {
    font-size: rem(16px);
    background-color: transparent;
    border: none;
    width: 150px;
    color: $clr1;
    // padding-left: none;
    // border: unset;
    // background: unset;
    // border-bottom: 1px solid $clr1;
}

input.ng-touched.ng-invalid {
    border-left: 3px solid red;
}

input.ng-valid[required] {
    border-left: 3px solid green;
}
.errors {
    color: red;
}

button[disabled] {
    opacity: 0.4;
}
