@import "../../../style/setup/variables";
@import "../../../style/setup/functions";

:host {
    overflow-y: scroll;
    width: 100%;
    height: 100%;
    &::-webkit-scrollbar {
        width: 8px;
    }
    &::-webkit-scrollbar-track {
        border-radius: 3px;
        background-color: rgba($clr2, 45%);
        // background-color: transparent;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 3px;
        background-color: $clr6;
    }
}
